body {
    font-family: Arial;
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
}

.card-triangulo {
    width: 350px;
    padding: 20px;
    border-radius: 15px;
    border: 1px solid #ccc;
    box-shadow: 2px 4px 10px rgba(0,0,0,0.1);
}

.imagen {
    width: 150px;
    display: block;
    margin: auto;
}

input {
    width: 100%;
    padding: 8px;
    margin: 6px 0 12px;
}

button {
    width: 100%;
    background: #0d6efd;
    border: none;
    padding: 10px;
    color: white;
    border-radius: 8px;
    margin-top: 10px;
}

p {
    font-weight: bold;
}
